.green{
    color: rgb(95 183 178 / 92%);
}

.mLeft{
    margin-left: 500px;
}
.mleft491{
    margin-left: 491px;
}
.grayRound{
    background: gray;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.greenRound{
    background: rgb(95 183 178 / 92%);
    height: 25px;
    width: 25px;
    background-color: rgb(95 183 178 / 92%);
    color: white;
    border-radius: 50%;
    display: inline-block;
}