<div class="conatiner" style="background: #1c1c4c;">
  <h1 style="color: white;text-align: center;">To Do List for 2022</h1>
  <div style="text-align: center;">
  <div style="width: inherit;">
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="grayRound">1</span> <span class="mLeft">Item1</span> <i class="fa fa-trash-o mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="green greenRound">2</span> <span class="green mLeft">Item2</span> <i class="fa fa-trash-o green mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="grayRound"> 3</span> <span class="mLeft">Item3</span> <i class="fa fa-trash-o mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="green greenRound">4</span> <span class="green mLeft">Item4</span> <i class="fa fa-trash-o green mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="grayRound">5</span> <span class="mLeft">Item5</span> <i class="fa fa-trash-o mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="grayRound">6</span> <span class="mLeft">Item6</span> <i class="fa fa-trash-o mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="grayRound">7</span> <span class="mLeft">Item8</span> <i class="fa fa-trash-o mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="green greenRound">9</span> <span class="green mLeft">Item9</span> <i class="fa fa-trash-o green mLeft" aria-hidden="true"></i>
        </p>
      </div>
</div>
<div class="card m-3">
    <div class="card-body">
        <p class="card-text"><span class="grayRound">10</span> <span class="mleft491">Item10</span> <i class="fa fa-trash-o mleft491" aria-hidden="true"></i>
        </p>
      </div>
</div>
</div>
</div>
<router-outlet></router-outlet>
</div>